<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Events - Chaflan</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <header class="event-header">
            <h1>Events</h1>
            {{#if is_logged_in}}
                <button onclick="window.location.href='/events/add_page'" class="btn-success">+ Add Event</button>
            {{else}}
                <a href="/login" class="btn btn-primary">Login</a>
            {{/if}}
        </header>
        <p>Events:</p>
        <ul class="event-list">
            {{#each events}}
            <li class="event-item">
                {{#if this.image}}
                    <img src="{{ this.image }}" alt="{{ this.name }}" class="thumbnail">
                {{/if}}
                <div class="event-info">
                    <a href="/events/{{ this.id }}?format=text/html" class="event-link">{{ this.name }}</a>
                    <span class="event-dates">{{this.starts_at}} - {{this.ends_at}}</span>
                </div>
                {{#if ../is_logged_in}}
                    <div class="event-actions">
                        <button class="btn-danger btn-sm" onclick="handleDeleteEvent('{{ this.id }}')">Delete</button>
                    </div>
                {{/if}}
            </li>
            {{else}}
            <p> No events yet</p>
            {{/each}}
        </ul>
        <h3>Total: {{ len events }}</h3>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/public/js/events.js"></script>
</body>
</html>
